<nav class="navbar navbar-default navbar-fixed-top" ng-controller="LayoutCtrl as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Baseball Score Keeper</a>
        </div>

        <div class="navbar-collapse collapse in" collapse="vm.isCollapsed" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li><a href="#/newgame" ng-click="vm.isCollapsed = !vm.isCollapsed">New Game</a>
                </li>
                <li><a href="#/game" ng-click="vm.isCollapsed = !vm.isCollapsed">Resume Game</a>
                </li>
                <li><a href="#/reset" ng-click="vm.isCollapsed = !vm.isCollapsed">Reset Game</a>
                </li>
                <li><a href="#/team" ng-click="vm.isCollapsed = !vm.isCollapsed">New Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>