<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ vm.teamName }}</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Batting</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody data-as-sortable="vm.dragControlListeners" ng-model="vm.players">
            <tr ng-repeat="player in vm.players" data-as-sortable-item>
                <td data-as-sortable-item-handle>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </td>
                <td>{{$index + 1}}</td>
                <td hm-press="vm.editPlayer(player)">({{ player.num }}) {{ player.name }}</td>
            </tr>
        </tbody>
    </table>
</div>