<h1>New Game</h1>
<form name="newGame" novalidate ng-submit="vm.submit()">
    <div class="form-group" ng-class="{'has-error': newGame.homeTeam.$invalid && (newGame.homeTeam.$dirty || newGame.homeTeam.$touched)}">
        <label for="homeTeam">Home Team</label>
        <input required type="text" id="homeTeam" name="homeTeam" class="form-control" placeholder="Enter home team name..." ng-model="vm.homeTeam.name" />
        <span class="help-block has-error" ng-show="newGame.homeTeam.$invalid && (newGame.homeTeam.$dirty || newGame.homeTeam.$touched)">The home team name is required.</span>
    </div>
    <div class="form-group" ng-class="{'has-error': newGame.awayTeam.$invalid && (newGame.awayTeam.$dirty || newGame.awayTeam.$touched)}">
        <label for="awayTeam">Away Team</label>
        <input required type="text" id="awayTeam" name="awayTeam" class="form-control" placeholder="Enter the away team name..." ng-model="vm.awayTeam.name" />
        <span class="help-block has-error" ng-show="newGame.awayTeam.$invalid && (newGame.awayTeam.$dirty || newGame.awayTeam.$touched)">The away team name is required.</span>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="newGame.$invalid">Start Game</button>
</form>